<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.cs5520.numad20su_congressmobile">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" /> -->
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

  <uses-feature
    android:name="android.hardware.camera"
    android:required="false" />

  <application
    android:allowBackup="false"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.AppCompat.Light.NoActionBar">
    <activity android:name=".controllers.MemberDetailsActivity" />
    <activity android:name=".controllers.CommitteeDetailsActivity" />
    <activity android:name=".controllers.BillDetailsActivity" />

    <meta-data
      android:name="com.google.android.wearable.standalone"
      android:value="true" />

    <activity
      android:name=".controllers.SettingsActivity"
      android:label="@string/title_activity_settings"
      android:theme="@style/NoActionBar" />

    <meta-data
      android:name="com.google.firebase.messaging.default_notification_color"
      android:resource="@color/colorAccent" />

    <activity
      android:name=".controllers.MainActivity"
      android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

</manifest>